.weather {
  margin-top: 45px;
  padding: 20px 20px;
  font-size: $default-font-size;

  &__find-city {
    display: flex;
  }

  select,
  input,
  button {
    font-size: $default-font-size;
  }

  button {
    min-width: 130px;
    margin-left: $default-font-size;
  }
}

.forecast {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 15px;
  width: 100%;

  &__weather {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__day,
    &__temp {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__img {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: contain;
    }
  }
}