.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  padding: 0 2.5rem;
  font-size: 1.5rem;
  background-color: rgba($color-tertiary-dark, 0.55);
  transition: all 0.75s;
  z-index: 9999;
  color: $color-white;

  &:hover {
    background-color: rgba($color-tertiary-dark, 0.85);
    transition: all 0.75s;
  }

  &__link {
    color: inherit;
    text-decoration: inherit;

    &--active {
      background-image: linear-gradient(
        to right,
        $color-secondary-light,
        $color-secondary-dark
      );
      background-clip: text;
      color: transparent;
    }
  }

  li {
    display: inline;
    margin: 0 1rem;
  }
}
