@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.general-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  z-index: 9999;
  font-size: 1.6rem; }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 2.5rem 2.5rem;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .home {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  .home__link {
    cursor: pointer;
    user-select: none; }
  .home__info {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 2rem;
    color: #ffb900;
    text-align: right; }

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .login__video video {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .login__btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    cursor: pointer;
    outline: none !important;
    border: none;
    user-select: none;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
    .login__btn:hover {
      transform: translateY(-5px);
      transition: all 0.2s; }
    .login__btn:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.login-modal {
  width: 100%;
  height: 210px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem; }
  .login-modal__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px; }
  .login-modal__form {
    margin: 10px;
    width: 70%; }
    .login-modal__form .input-group-text,
    .login-modal__form input {
      font-size: 1.6rem; }
    .login-modal__form .input-group {
      margin-bottom: 5px; }
  .login-modal__login-btn {
    background-image: linear-gradient(-90deg, blue, teal 100%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
    outline: none !important;
    height: 35px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.45); }
  .login-modal__close-btn {
    position: absolute;
    top: 10px;
    right: 17px;
    cursor: pointer;
    user-select: none; }

.weather {
  margin-top: 45px;
  padding: 20px 20px;
  font-size: 1.6rem; }
  .weather__find-city {
    display: flex; }
  .weather select,
  .weather input,
  .weather button {
    font-size: 1.6rem; }
  .weather button {
    min-width: 130px;
    margin-left: 1.6rem; }

.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  padding: 0 2.5rem;
  font-size: 1.5rem;
  background-color: rgba(86, 67, 250, 0.55);
  transition: all 0.75s;
  z-index: 1000;
  color: #fff; }
  .navigation__logout {
    flex: 1;
    text-align: right;
    cursor: pointer;
    user-select: none;
    transition: all .2s; }
    .navigation__logout:hover {
      color: #7ed56f;
      transition: all .2s; }
  .navigation__link {
    color: inherit;
    text-decoration: none !important;
    transition: all .2s; }
    .navigation__link--active {
      background-image: linear-gradient(to right, #ffb900, #ff7730);
      background-clip: text;
      color: transparent; }
    .navigation__link::hover {
      color: #ffb900;
      transition: all .2s; }
  .navigation a:hover {
    color: #7ed56f;
    transition: all .2s; }
  .navigation ul {
    margin-bottom: 0; }
  .navigation li {
    display: inline;
    margin: 0 1rem; }
